*{padding:0; margin:0;  color:#333; font-family:"微软雅黑"; }
a{text-decoration: none;  }
a:hover{color:#FFF;}
img{ border: none}
ul,ol{list-style: none}
h1,h2,h3,h4,h5,h6{ font-weight: 100}

/** css 公共部分*/

.s_title{
    text-align: center;
    font-size: 28px;
    padding:80px 0 50px;
    line-height: 1.6em;
}

.s_con{
    width: 1200px;
    margin: 0 auto;
}

/*  头部区域*/
.header{
    width:100%;
    height: 80px;
    background: rgba(0,195,202,0.9);
}
.hd_con{

}
.hd_con .logo{
    float: left;
    margin-top: 10px;
    margin-left: 25px;
}
.hd_con .list{
    float: right;
}
.hd_con .list li{
    float: left;
}
.hd_con .list a{
    display: block;
    padding: 0 25px;
    line-height: 80px;
    font-size: 20px;
    position: relative;
}
.hd_con .list li.active a{
    color: #FFF;
}
.hd_con .list li.active a:after{
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background:#FFF;
    border-radius: 50%;
    position: absolute;
    bottom:10px;
    left: 50%;
    /*margin-left: 2px;*/
}
/*  头部区域 end*/

/*banner 区域*/
.banner{
    width: 100%;
    height: 500px;
    background: url(images/navbg.jpg) no-repeat left center;
}
/*banner 区域end */

/**server */
.server{
    padding-bottom: 70px;
}

.server_con{

}
.server_con .box{
    width:270px;
    min-height:50px;
    float: left;
    margin-right: 40px;
    text-align: center;
}
.server_con .box:last-child{
    margin-right:0;
}
.server_con:after{
    content: "";
    display: block ;
    clear: both;

}

.server_con .box .icon{
    width:210px;
    height:210px;
    border: 1px solid #00abd9;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    transition: 0.5s;

    line-height:210px ;
}
.server_con .box .icon img{
    margin-top:60px ;
    width: 50%;
}

.server_con .box .icon:hover{
  background: #00abd9;
}

.server_con .box h3{
     padding: 40px 0 20px;
     font-size: 24px;
     color: #444;
 }

.server_con .box p{
    font-size: 16px;
    color: #666;
    line-height: 1.6em;
}

/**server end*/

/** about*/
.about{
    width:100%;
    height:808px;
    background: url("images/bg1.jpg") no-repeat center;
}
.about_title{
    color: #fff;;
}
.about_con{

    text-align: center;
}
.about_con p{
    color:rgba(255,255,255,0.9);
    padding:0 140px;
    font-size: 18px;
    line-height: 1.8em;
}
.about_con .btn{
    padding-top: 100px;
}
.about_con .btn a{
    width:151px;
    height:47px;
    display: inline-block;
    margin: 0 20px;
}
.about_con .btn a:nth-child(1){
    background: url("images/zxwm.png");
}
.about_con .btn a:nth-child(2){
    background: url("images/ljgd.png");
}
/** about end*/

/** case */
.case{
    width:100%;
}

.case_con{

}

.case_con:after{
    content: "";
    display: block;
    clear: both;
}
.case_con li{
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}
.case_con li:nth-child(3n){
    margin-right: 0;
}
.case_con li a{
    display: block;
}
.case_con li:hover a{
    transform: translateY(-7px);
    transition: 0.3s;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

/** case end*/

/**client */
.client{
    width: 100%;
    text-align: center;
}

.client_con{

}
.client_con:after{
    content: '';
    display: block;
    clear: both;
}
.client_con li{
    float: left;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
}



/**client end*/



/** footer */
.footer{
    background: #f4f4f4;
    margin-top:70px;
}
.ft{

    min-height: 200px;
    padding-bottom: 30px;
}
.ft:after{
    content: "";
    display: block;
    clear: both;
    
}
.ft_logo{
    padding: 30px 0;
}
.ft .ft_logo img{
    float: left;
    background: #a3a3a3;
}

.ft .ft_logo:after{
    content: '';
    display: block;
    clear: both;
}

.ft .ft_logo h1{
    float: left;
    color:#666;
    font-size: 18px;
    padding-left:10px;
    padding-top: 15px;
}

.ft .ft_logo h1 small{
    font-size: 16px;
    display: block;
    letter-spacing: 1px;
}

.ft_tel{
    float: left;
}

.ft_tel h3{
    font-size: 18px;
    color: #00abd9;
    padding-bottom: 15px;
}

.ft_tel p{
    font-size: 14px;
    color: #666;
    line-height: 1.6em;
}

.ft_list{
    float: left;
    margin-left:150px;
    width:520px;
}

.ft_list dl{
    float: left;
    width:25%;
}

.ft_list dt{
    font-size:18px;
    color:#666;
    padding-bottom:15px ;
}

.ft_list dl a{
    font-size:12px;
    color:#666;
    line-height: 1.6em;;
}

.ft_list dl a:hover{
    color: #3399ff;
}

.ft_weixin{
    float: right;
}

.ft_weixin p{
    font-size:12px;
    text-align: center;
}

.copyright{
    width:100%;
    text-align: center;
    background: #000000;
    color:#fff;
    line-height:100px;
}
/** footer end*/