<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery-1.11.1.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/vue-resource.js"></script>
    <style>
        .gray{
            background: grey;
            opacity: 0.8;
        }
    </style>
</head>

<body>

<div id="box">
  <input type="text" v-model="t1" @keyup="get($event)" @keydown.down="changeDown()" @keydown.up.prevent="changeUp()">
  <ul>
      <li v-for="val in myData" :class="{gray:$index == now}">{{val}}</li>
  </ul>
   <p v-show="myData.length == 0">暂无数据</p>


</div>
</body>
<script>

  $(function () {
      var c = new Vue({
          el : '#box',
          data :{
              myData :[],
              t1 : "",
              now : -1
          },

          methods :{
              get:function (e) {
                  if(e.keyCode == 38 || e.keyCode == 40){
                      return;
                  }
                  if(e.keyCode == 13){
                      window.open('https://www.baidu.com/s?wd='+this.t1);
                      this.t1='';
                  }
                 this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{wd : this.t1}
                 ,{
                     jsonp : 'cb'
                 }) .then(function (res) {
                        this.myData = res.data.s;
                 },function (res) {

                 })
              },
              changeDown :function () {
                  this.now++;
                  if(this.now==this.myData.length)this.now=-1;
                  this.t1 = this.myData[this.now];
              },
              changeUp:function () {
                  this.now--;
                  if(this.now==-2)this.now=this.myData.length-1;
                  this.t1 = this.myData[this.now];
              }

          }
      });
  })

</script>
</html>