
/** header start */
header {
    padding: 0 30px;
    height: 80px;
    background-image: url("../images/b-header-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    right: 0;
    left: 0;
    top: 0;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
header:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: black;
    top: 100%;
    left: 0;
    z-index: 99;
}
header a {
    text-decoration: none;
}
header .logo {
    background: url("../images/w-logo.png") no-repeat;
    background-size: auto 100%;
    height: 59px;
    width: 80px;
    display: block;
    margin-top: 11px;
}
/*.fr{*/
/*float: right;*/
/*}*/
header .fr a.exit:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

header .fr a.exit {
    display: inline-block;
    border: none;
    height: 80px;
    width: 160px;
    margin-right: -30px;
    border-radius: 0;
    margin-top: -0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    text-align: left;
    line-height: 80px;
    padding: 0 0px;
    padding-left: 95px;
    color: #dfe3e9;
    font-size: 16px;
    background-color: transparent;
    background-image: url(../images/exit.png);
    background-repeat: no-repeat;
    background-position: 35px center;
    margin-left: 0;
}

header .fl{
    float: left;
}
header .fr{
    float: right;
}
header .welcome{
    color: #dfe3e9;
    text-align: center;
    font-size: 16px;
    line-height: 80px;
}
/** header end  */

/** content start */

.con{
    /*float: left;*/
    /*position: relative;*/
}

.con .con_title{
    margin-top: 120px;
    width: 100%;
    height:50px;
    background: #E3E3E3;
    border: 1px solid #000000;
    box-sizing: border-box;
    position: relative;

}
.con .con_title .con_title_box{
    width: 100px;
    height: 80px;
    background: deepskyblue;
    box-shadow: 10px 10px 5px #888888;
    float: left;
    margin-left: 30px;
    margin-bottom: 50px;
    position: relative;
    top: -15px;
}
.con .con_title .con_title_con{
    float: left;
    margin-left: 60px;
   text-align: center;
    line-height: 1.6em;

}

.con .con_form{
    margin-top:40px;
}
.con .con_form .con_form_info .con_form_legend{
    font-size: 17px;
    font-weight:700;
    margin-top: 10px;
}
.con .con_form .con_form_info label{
    margin-left: 40px;
    text-align: center;
    font-weight:500;
    font-size: 16px;
    line-height: 30px;
}
.con .con_form .con_form_info input{
    float: right;
    border-radius:3px;
    width:200px;
    height: 30px;
    margin-right: 30px;
}
.con_form_info_lab{
    margin-top: 10px;
}
.con .con_form .con_form_info_h2{
    text-align: center;
    margin: 20px 10px
}

.con_form_info_btn{
    text-align: center;


}
.con_form_info_btn button{
    width: 120px;
    margin: 30px;
}


/** content end */

/** footer end */
footer {
    width: 100%;
    left: 0;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: right;
    bottom: 0;
    padding: 0 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    font-size: 13px;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    margin-left: 20px;
}
footer a:first-child{
    margin-left: 0;
}

/** footer end */