
/** content start */

.con_wrap{
    margin-top: 100px;
    position: relative;
}

 .con_create{
     float: right;
     position: relative;
     margin-bottom: 19px;
     padding-right: 20px;

}
.con_create a {
    height: 41px;
    font-size: 16px;
    line-height: 27px
}
/** content end */

.footer_wrapper{
    margin: 0 auto 0px;
    position: fixed;
}
